services:
  sm-simulator:
    build: .
    container_name: smith-manoeuvre-simulator
    restart: unless-stopped
    ports:
      - "3001:80"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:80"]
      interval: 30s
      timeout: 5s
      retries: 3
